/*
.bg {
  background: url('Photos/brussels.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 27em;
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 27em;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
  margin: 0 0;
}
*/

.jumbotron {
  background-image: url('photos/brussels.jpg');
  background-size: cover;
  color: white;
}

body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 20px;
  }
}
