.jumbotron {
  background-image: url('Cover Photo/brussels.jpg');
  background-size: cover;
  color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;

}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

#wrapper{
  position: relative;
  margin-top: 100vh;
  background-color: white;
}
#content{
  padding-top: 60px;
}

#navBarNav{
  margin-bottom: -40px;
}

#smallNavBar{
/*  height: 100vh; */
}

.resize {
    width: 30px;
    height: auto;
}

.resize {
    width: 30px;
    height: auto;
}

#jumpUp{
  background: none;
  z-index: 100;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  text-decoration: none;
}

#jumpUp:visited{
  color: orange;
}
